.contacts__partnership {
  padding: 26px 0;
}
.contacts__partnership-invitation {
  font-family: "Oswald", sans-serif;
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  max-width: 139px;
}
.contacts__partnership-address {
  display: block;
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #444444;
  max-width: 139px;
}
