.features__title {
  font-family: "Oswald", sans-serif;
  display: block;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.features__list {
  list-style-type: none;
  padding-left: 80px;
}
.features__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.features__item:not(:last-child) {
  padding-bottom: 20px;
}
