.features__title {
  font-family: "Oswald", sans-serif;
  display: block;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.features__list {
  list-style-type: none;
  padding-left: 80px;
}
@media (min-width: 780px) {
  .features__list {
    display: grid;
    grid-template-columns: 248px 248px;
    column-gap: 137px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}
.features__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.features__item:not(:last-child) {
  padding-bottom: 20px;
}
