.header-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-navigation__item {
  border-bottom: 1px solid #E6E6E6;
}

.header-navigation__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Oswald", "arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  padding: 22px 0 24px;
  color: #000000;
}
