.header-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-navigation__item {
  border-bottom: 1px solid #e6e6e6;
}
.header-navigation__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Oswald", "arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  padding: 22px 0 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .header-navigation__toggle {
    display: none;
  }
  .header-navigation__list {
    display: flex;
    width: 440px;
    flex-wrap: wrap;
  }
  .header-navigation__item {
    border: none;
    padding-right: 17px;
  }
  .header-navigation__item:last-child {
    padding-right: 0;
  }
  .header-navigation__link {
    padding: 42px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .header-navigation__toggle {
    display: none;
  }
  .header-navigation__list {
    display: flex;
    width: 478px;
    flex-wrap: wrap;
  }
  .header-navigation__item {
    border: none;
    padding-right: 17px;
  }
  .header-navigation__item:last-child {
    padding-right: 0;
  }
  .header-navigation__link {
    padding: 68px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background-color: #68B738;
  }
}
