.page-header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
  border-bottom: 1px solid @special-grey-2;
}

@media (min-width: @tablet-width) {

  .page-header__container {
    width: 768px;
    padding: 0;
    border: none;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {

  .page-header__container {
    width: 1440px;
    padding: 0;
    border: none;
  }
}
