.page-footer__container {
  background-color: #f2f2f2;
}
.page-footer__logo {
  display: block;
  padding: 39px 0 22px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.page-footer__socials {
  border-bottom: 1px solid #d9d9d9;
}
.page-footer__copyright {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 780px) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    border: none;
    padding: 0;
  }
  .page-footer__socials {
    border-bottom: none;
  }
  .page-footer__copyright {
    padding: 0;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    border: none;
    padding: 0;
  }
  .page-footer__socials {
    border-bottom: none;
  }
  .page-footer__copyright {
    padding: 0;
    display: flex;
  }
}
