.program-type__container {
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .program-type__container {
    display: grid;
    grid-template-columns: 708px;
    gap: 30px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .program-type__container {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    margin-top: 82px;
  }
}

.program-type__item {
  background-color: @basic-grey;
  padding: 0 33px 22px 20px;
  margin: 0;
}

.program-type__item-title {
  display: block;
  padding-top: 30px;
  padding-left: 90px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.program-type__item-description {
  display: block;
  margin: 0;
  padding-bottom: 38px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.program-type__item-link {
  text-decoration: none;
  color: @black;
  font-size: 20px;
  line-height: 30px;
  margin-right: 17px;
  font-weight: 400;
}
